@model IEnumerable<MbaBlog.Domain.Domain.Post>

<p>
    <a asp-action="Create">Novo Post</a>
</p>
<table class="table">
    <thead>
        <tr>
        </tr>
        <tr>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <h6> @Html.DisplayFor(modelItem => item.Titulo) </h6>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" value="Alterar" class="btn btn-primary" size="5" /></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><input type="button" value="Comentarios" class="btn btn-info" size="5" /></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" value="Excluir" class="btn btn-danger" size="5"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
